{% extends 'Guest/Head.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title> 
</head> <br><br><br><br><br><br><br><br><br>
<body> 
    <form action="" method="POST"> 
        {% csrf_token %} 
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;"> 
            <tr> 
                <td>Enter E-Mail For Getting OTP</td> 
                <td><input type="email" name="txt_email" required="" autocomplete="off"></td> 
            </tr> 
            <tr> 
                <td colspan="2" align="center"><input type="submit" value="Send OTP"></td> 
            </tr> 
        </table> 
</body> 
</html>
{% endblock content %}