{% extends 'User/Head.html'%}


{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><br><br><br>
<h1></h1><div id="tab" align="center">
<body>
    <form action="" method="post">
        <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
    
    {% for i in Book %}
    <tr> 
        <td>Event Name</td>
        <td>{{i.schedule_title}}</td> 
    </tr>   
    <tr> 
        <td>District</td>  
        <td>{{i.place.district}}</td> 
    </tr> 
    <tr>  
        <td>Place</td> 
        <td>{{i.place}}</td> 
    </tr> 
    <tr>
        <td>Event Place</td>
       <td>{{i.schedule_date}}</td>
    </tr>
    <tr>  
        <td>Event Time</td> 
       <td>{{i.schedule_time}}</td>
    </tr>
    <tr>
        <td>Event Venue</td>
       <td>{{i.schedule_venue}}</td>
    </tr> 
    <tr> 
        {% if bcount > 0 %}
       <td> <font color="red">You Are Already Booked</font></td>
        {% else %}

       <td colspan="2" align="center"><a href="{% url 'webuser:pay_show' i.id %}"><font color="red">Confirm & Pay</font></a></td>
       {% endif %}
    </tr>
    </tr>

    {% endfor %}
</table>


</form>
</body></div><br><br><br>
</html>
{% endblock content %}