{% extends 'Admin/Head.html'%}


{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><div id="tab" align="center">
<body>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Complaint Reply</td>
                <td><textarea name="txtreply"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"> 
                    <input type="submit" value="submit">
                    <input type="reset" value="reset">
                </td>
            </tr>
        </table>
       
    </form>
</body></div>
</html>
{% endblock content %}