{% extends 'Admin/Head.html'%}


{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><div id="tab" align="center">
<body>
    <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
     
    
        
        <tr>
            <td>NAME</td>
            <td>{{data.admin_name}}</td>
        </tr>
       
        <tr>
            <td>EMAIL</td>
            <td>{{data.admin_email}}</td>
        </tr>
    
      
    </table>
</body></div>
</html>
{% endblock content %}