{% extends 'Admin/Head.html'%}


{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><div id="tab" align="center">
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="2">
            <tr><td>District</td>
                <td><select name="District">
                    <option value="">--SELECT--</option>
                    {% for i in dis %}
                    <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                 
                </select></td></tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txt_Place"></td>
                
            </tr>
          <tr>
            <td align="center"><input type="submit" name="submit" value="Save">
           <input type="reset" name="reset" value="Cancel"></td>
        </tr>
        </table> 
        <table border="1">
            <tr>
                <td>sl no</td>
                <td>District</td>
                <td>Place</td>
                <td>Action</td>
            </tr>
            {% for i in pl %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.district}}</td>
                <td>{{i}}</td>
                <td><a href="{% url 'webadmin:delplace' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}

        </table>   
        <script>
            {% if msg %}
               alert("{{msg}}")
            {% endif %}
        </script>
    </form>
</body></div>
</html>
{% endblock content %}